<h1>Listing loaderio_7abd2d23994e8fb4f6f945f20b5204dbs</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @loaderio_7abd2d23994e8fb4f6f945f20b5204dbs.each do |loaderio_7abd2d23994e8fb4f6f945f20b5204db| %>
  <tr>
    <td><%= loaderio_7abd2d23994e8fb4f6f945f20b5204db.name %></td>
    <td><%= link_to 'Show', loaderio_7abd2d23994e8fb4f6f945f20b5204db %></td>
    <td><%= link_to 'Edit', edit_loaderio_7abd2d23994e8fb4f6f945f20b5204db_path(loaderio_7abd2d23994e8fb4f6f945f20b5204db) %></td>
    <td><%= link_to 'Destroy', loaderio_7abd2d23994e8fb4f6f945f20b5204db, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Loaderio 7abd2d23994e8fb4f6f945f20b5204db', new_loaderio_7abd2d23994e8fb4f6f945f20b5204db_path %>
